/* ---RESET--- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* ----COMMON--- */

body {
    background-color: aqua;
}

.flex{
    display: flex;
}

img {
    width: 100%;
}

/* ----HEADER---- */

header {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* test */
    background-color: black;
}

.flex {
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.speaker-view a, #expand{
    background-color: #4a4a4a;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px; 
}

/* MAIN */

main {
    margin-top: 100px;
}

.container-main {
    width: 80%;
    margin: 0 auto;
}

.card-item {
    margin: 5px;
    
}

.cards-row.flex {
    width: calc( ( 100% / 7) - 15px);
    flex-wrap: wrap;
}

.card-item img {
    width: 100%;
}




